<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Messages</title>
</head>
<body>
<div>
    Welcome, <span th:text="${userAttributes.get('name')}">Wrong input!</span>
    <img th:src="${userAttributes.get('picture')}">
</div>
<div>
    <a id="logout" th:href="@{/logout}">Log Out</a>
</div>
<table>
    <thead>
        <tr>
            <th>Timestamp</th>
            <th>Picture</th>
            <th>User</th>
            <th>Text</th>
        </tr>
    </thead>
    <tr th:each="message: ${messages}">
        <td th:text="${message.timestamp()}">Timestamp</td>
        <td><img th:src="${message.profileUrl()}"></td>
        <td th:text="${message.name()}">User</td>
        <td th:if="${risky}" th:utext="${message.text()}">Text</td>
        <td th:if="${!risky}" th:text="${message.text()}">Text</td>
    </tr>
</table>
<div>
    <form action="/message" method="post">
        <label for="message-text">Message Text: </label>
        <input id="message-text" name="text" type="text">
        <input type="Submit">
    </form>
</div>
</body>
</html>